%btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: all 0.2s;
  }

  &:focus {
    outline: none;
  }
}

.btn-icon {
  @extend %btn;
  background-color: transparent;
  fill: $color-primary;

  &--search {
    height: 3.4rem;
    width: 3.2rem;

    &:hover {
      transform: scale(1.07);
    }
  }

  &--fav {
    svg {
      width: 3.4rem;
      height: 3.2rem;
    }
  }

  &--options {
    svg {
      width: 4.2rem;
      height: 3.2rem;
    }
  }

  &--met {
    width: 13rem;
    height: 8.7rem;
  }

  &--heart-outline {
    width: 3.5rem;
    height: 3.8rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--close {
    height: 3.5rem;
    width: 3.5rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--refresh {
    background-color: $color-white-transparent;
    border-radius: 1.3rem;
    padding: 0.9rem;
    box-shadow: $shadow-medium;
    transition: all 0.3s;
    svg {
      width: 3.2rem;
      height: 3.2rem;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &--pencil {
    height: 5rem;
    width: 5rem;
    fill: #fff;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.btn-inline {
  &,
  &:link,
  &:visited {
    color: $color-text;
    transition: all 0.3s;
  }

  &:hover {
    color: $color-primary;
  }
}

.btn {
  @extend %btn;
  font-family: inherit;
  font-size: 3rem;
  color: $color-text;
  background-color: $color-white-transparent;
  border-radius: 1.3rem;
  padding: 0.5rem 1.6rem;
  box-shadow: $shadow-medium;
  transition: all 0.3s;

  svg {
    width: 2rem;
    height: 1.5rem;
    margin-top: 0.4rem;
    fill: $color-text;
  }

  img {
    width: 6.5rem;
    height: 4.5rem;
  }

  &:hover {
    background-color: #fff;
  }
}

.heading-primary {
  font-size: 3.6rem;
  color: $color-primary;
  font-weight: 500;
}

.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;

  display: flex;
  grid-column: -1;

  svg {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
    transform: translateY(-0.3rem);
  }

  p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
  }
}
