.gallery {
  position: relative;
  height: calc(100vh - 9rem);
  // background-color: rgb(140, 147, 207);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  &--1 {
    grid-template-areas:
      'pic1 pic1 pic3 pic3 pic3 pic5 pic5 pic5'
      'pic1 pic1 pic3 pic3 pic3 pic5 pic5 pic5'
      'pic1 pic1 pic3 pic3 pic3 pic5 pic5 pic5'
      'pic1 pic1 pic3 pic3 pic3 pic5 pic5 pic5'
      'pic2 pic2 pic3 pic3 pic3 pic6 pic6 pic6'
      'pic2 pic2 pic4 pic4 pic4 pic6 pic6 pic6'
      'pic2 pic2 pic4 pic4 pic4 pic6 pic6 pic6'
      'pic2 pic2 pic4 pic4 pic4 pic6 pic6 pic6';
  }

  &--2 {
    grid-template-areas:
      'pic1 pic1 pic1 pic3 pic3 pic5 pic5 pic5'
      'pic1 pic1 pic1 pic3 pic3 pic5 pic5 pic5'
      'pic1 pic1 pic1 pic3 pic3 pic5 pic5 pic5'
      'pic1 pic1 pic1 pic3 pic3 pic5 pic5 pic5'
      'pic1 pic1 pic1 pic4 pic4 pic6 pic6 pic6'
      'pic2 pic2 pic2 pic4 pic4 pic6 pic6 pic6'
      'pic2 pic2 pic2 pic4 pic4 pic6 pic6 pic6'
      'pic2 pic2 pic2 pic4 pic4 pic6 pic6 pic6';
  }

  &__refresh-btn {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    z-index: 3000;
    transform: translate(0, -50%);
  }

  &__item {
    position: relative;
    &--1 {
      grid-area: pic1;
      margin: 0 0.5rem 0.5rem 0;
    }
    &--2 {
      grid-area: pic2;
      margin: 0.5rem 0.5rem 0 0;
    }
    &--3 {
      grid-area: pic3;
      margin: 0 0.5rem 0.5rem 0.5rem;
    }
    &--4 {
      grid-area: pic4;
      margin: 0.5rem 0.5rem 0 0.5rem;
    }
    &--5 {
      grid-area: pic5;
      margin: 0 0 0.5rem 0.5rem;
    }
    &--6 {
      grid-area: pic6;
      margin: 0.5rem 0 0 0.5rem;
    }

    &-like {
      position: absolute;
      top: 2rem;
      right: 2rem;
      opacity: 0;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-caption {
      background-color: $color-grey-transparent;
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      opacity: 0;
      overflow: hidden;
      transition: opacity 0.5s ease-out;

      &-title {
        font-size: 3.2rem;
      }

      &-artist {
        font-size: 2.4rem;
      }

      &-btn {
      }
    }

    &-display-options {
      position: absolute;
      top: 0;
      background-color: rgba(177, 71, 71, 0.39);
      height: 100%;
      width: 100%;
      z-index: 6000;

      &-btn {
        margin: 1.4rem;
      }
    }
  }
}

// Hover Effect
.gallery__item:not(.disactivated):hover > .gallery__item-caption {
  opacity: 1;
  height: 100%;
}

.gallery__item:not(.disactivated):hover > .gallery__item-like {
  opacity: 1;
  z-index: 100;
}

// Form
.form {
  color: $color-text;
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.form__input {
  width: 100%;
  padding: 0.6rem 1.4rem;
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  align-self: center;
}
