.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;

  @media only screen and (max-width: $bp-small) {
    gap: 1.6rem;
    flex-wrap: wrap;
    height: auto;
    padding: 1.2rem 0;
  }

  &__logo {
    margin-left: 2rem;
    height: 6.7rem;
    display: block;
  }
}

.search {
  border-radius: 1.3rem;
  background-color: $color-background-dark;
  display: flex;
  align-items: center;
  padding: 0.6rem 2.4rem;
  transition: all 0.3s;

  @media only screen and (max-width: $bp-small) {
    order: 1;
    flex: 0 0 100%;
    border-radius: 0;
    justify-content: space-between;
  }

  &:focus-within {
    transform: translateY(-2px) scaleX(1.05);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-light, 0.125);
  }

  &__field {
    background-color: $color-background-dark;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.8rem;
    width: 36rem;

    @media only screen and (max-width: $bp-medium) {
      width: 25rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 25rem;
    }

    &:focus {
      outline: none;
    }
  }
}

.nav {
  position: relative;
  align-self: stretch;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 3rem;
    padding: 0 2rem;

    &:hover {
      background-color: $color-background-dark;
    }

    span {
      @media only screen and (max-width: $bp-smallest) {
        display: none;
      }
    }
  }
}

.favorites {
  background-color: $color-background;
  border-radius: 0 0 0 1.3rem;
  position: absolute;
  // right: -1rem;
  right: 0;
  width: 40rem;
  max-height: 100vh;
  overflow-y: scroll;
  z-index: 4000;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 1rem;

    &-item {
      height: 20rem;
      padding: 1rem;

      &-link {
        &,
        &:link,
        &:visited {
          cursor: pointer;
          text-decoration: none;
        }

        &:hover > img {
          transform: scale(1.01);
        }
        img {
          height: 100%;
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          transition: all 0.3s;
        }
      }
    }
  }

  &:hover,
  .nav__btn--add-favorite:hover + & {
    visibility: visible;
    opacity: 1;
  }
}
