// Colors
$color-primary: #d05656;
$color-text: #3f3f3f;

$color-background: #fff9f9;
$color-background-dark: #fff1f1;

$color-the-met: #ec012a;
$color-grey-light: #a6a6a6;
$color-grey-transparent: rgba(135, 135, 135, 0.6);
$color-white-transparent: rgba(255, 255, 255, 0.9);

// Shadow
$shadow-medium: 0 2rem 3rem rgba(0, 0, 0, 0.125);

// Responsive Design / Breakpoints
$bp-large: 78.15em; // 1250px
$bp-medium: 64em; // 1024px
$bp-small: 48em; // 768px
$bp-smallest: 26.75em; // 428px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: 'Cormorant Upright', serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-text;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  position: relative;
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $color-background;
  overflow: hidden;
}
