.search-results {
  &__text {
    font-size: 3rem;
    text-align: center;
    padding: 3.2rem 0 1.6rem 0;

    span {
      font-size: 3.6rem;
      color: $color-primary;
    }
  }

  &__gallery {
    position: relative;

    &-btn {
      position: absolute;
      z-index: 400;
      max-width: 11rem;

      &--previous {
        top: 50%;
        left: 1.6rem;
        transform: translateY(-50%);
      }

      &--previous.sticky {
        position: fixed;
        top: 100%;
        right: 2%;
        transform: translate(0, -120%);
      }

      &--previous.hidden {
        display: none;
      }

      &--next {
        top: 50%;
        right: 1.6rem;
        transform: translateY(-50%);
      }

      &--next.sticky {
        position: fixed;
        top: 100%;
        right: 2%;
        transform: translate(0, -120%);
      }

      &--next.hidden {
        display: none;
      }
    }
  }
}
